div#canvas-frame {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.desc {
    position: absolute;
    left: 5%;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}
.val {
    font-size: 30px;
}
#titleDIV {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 48px;
    font-weight: bold;
    font-family: sans-serif;
}
#timerDIV {
    top: 20%;
}
#stepCounterDIV {
    top: 30%;
}
#sliderDIV {
    top: 40%;
}

.buttondesc {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.btn-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 5%;
    top: 60%;
}

button {
    font-size: 20px;
    margin: 5px 0 0 5px;
}

p {
    color: #ff0000;
    margin: 5px 0 0 5px;
}

.solutionDIV {
    position: absolute;
    top: 10%;
    left: 85%;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

#sol-done {
    color: gray;
}
#sol-todo {
    color: red;
}

.cube-serialize {
    position: absolute;
    top: 60%;
    left: 85%;
    display: grid;
    grid-template-rows: 54px 54px 54px 54px;
    grid-template-columns: 54px 54px 54px;
}

.face {
    display: grid;
    margin: auto;
    grid-template-rows: 16px 16px 16px;
    grid-template-columns: 16px 16px 16px;

}

.unit-cube {
    background: #eee;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}